@percentage: 14%;
@import (inline) 'include/normalize.css';
@import (less) 'include/font.less';
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Aref Ruqaa', 'Microsoft Yahei UI', sans-serief;
    font-size: 20px;
}

div,
span,
section {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #01b7e4;
    background-image: -webkit-radial-gradient(cover, rgba(255, 245, 240, 1) 35%, rgba(240, 240, 240, 0.6) 70%, rgba(255, 255, 255, 0) 110%);
    background-image: -moz-radial-gradient(cover, rgba(255, 245, 240, 1) 35%, rgba(240, 240, 240, 0.6) 70%, rgba(255, 255, 255, 0) 110%);
    background-image: -ms-radial-gradient(cover, rgba(255, 245, 240, 1) 35%, rgba(240, 240, 240, 0.6) 70%, rgba(255, 255, 255, 0) 110%);
    background-image: -o-radial-gradient(cover, rgba(255, 245, 240, 1) 35%, rgba(240, 240, 240, 0.6) 70%, rgba(255, 255, 255, 0) 110%);
    background-image: radial-gradient(cover, rgba(255, 245, 240, 1) 35%, rgba(240, 240, 240, 0.6) 70%, rgba(255, 255, 255, 0) 110%);
}

@keyframes main-loader-progress {
    0% {
        left: -20%;
    }
    100% {
        left: 120%;
    }
}

.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    .main-ltr {
        width: 100%;
        position: absolute;
        bottom: 50%;
        text-align: center;
        font-size: 30px;
        color: #322322;
        .main-ltr-m {
            font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 80px;
            color: #ffdfd0;
            text-shadow: 0 0 2px #333;
            margin: 5px 20px 10px;
            display: inline-block;
            background-color: #ffdcc0;
            width: 90px;
            height: 90px;
            border-radius: 45px;
            overflow: hidden;
            box-shadow: 5px 5px 10px 2px rgba(40, 35, 30, 0.8);
            z-index: 2;
        }
        .main-ltr-bar {
            width: 90%;
            max-width: 400px;
            z-index: 1;
            margin: auto;
            height: 4px;
            border-radius: 3px;
            background: #dedede;
            border: solid 1px #bababa;
            position: relative;
            .main-ltr-progress {
                background-color: #01b7e4;
                width: @percentage;
                height: 4px;
                border-radius: 2px;
                position: absolute;
                left: 0;
                overflow: hidden;
                .main-ltr-progress-pix {
                    position: absolute;
                    display: block;
                    content: ' ';
                    left: -10px;
                    height: 4px;
                    width: 4px;
                    opacity: 0.5;
                    border-radius: 2px;
                    animation: main-loader-progress infinite ease-in-out;
                    &:nth-child(3n + 1) {
                        animation-delay: 0.93s * @percentage;
                    }
                    &:nth-child(3n + 2) {
                        animation-delay: 0.46s * @percentage;
                    }
                    &:nth-child(4n){animation-duration: 0.17s * @percentage}
                    &:nth-child(4n + 1){animation-duration: 0.15s * @percentage}
                    &:nth-child(4n + 2){animation-duration: 0.21s * @percentage}
                    &:nth-child(4n + 3){animation-duration: 0.19s * @percentage}

                    &:nth-child(5n) {
                        background: #ff5;
                    }
                    &:nth-child(5n + 1) {
                        background: #f55;
                    }
                    &:nth-child(5n + 2) {
                        background: #5f5;
                    }
                    &:nth-child(5n + 3) {
                        background: #55f;
                    }
                    &:nth-child(5n + 4) {
                        background: #f5f;
                    }
                }
            }
            .main-ltr-indicator {
                width: 30px;
                text-align: center;
                font-size: 12px;
                line-height: 12px;
                border-radius: 6px;
                background-color: #fabc70;
                opacity: 0.9;
                color: #fff;
                text-shadow: 0 0 1px rgba(220, 220, 220, 0.3);
                margin-left: -15px;
                position: absolute;
                top: -5px;
                height: 13px;
                left: @percentage;
                &::before {
                    content: "@{percentage}";
                }
            }
        }
    }
    .main-content {
        width: 100%;
        top: 50%;
        position: absolute;
        .main-status {
            text-align: right;
            width: 90%;
            max-width: 400px;
            color: #5c5c5c;
            margin: auto;
            div,
            span,
            p {
                display: block;
            }
        }
        .main-me {
            padding: 20px 0;
            font-size: 0.6em;
            text-align: center;
            color: #7a7a7a;
        }
    }
}